.button {
  border: 0;
  background-color: var(--black);
  padding: 1.3rem 4rem;

  border-radius: 8px;

  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 5px;
  font-weight: bold;

  transition: filter 0.5s;

  &:hover {
    filter: brightness(0.7);
  }
}
