.tableContainer {
  height: 65vh;
}
.table {
  width: 100%;
  border-spacing: 0 0.5rem;

  th {
    color: var(--yellow);
    font-weight: bold;

    padding: 1rem 2rem;
    font-size: 1.4rem;

    text-align: left;

    &:last-child {
      text-align: center;
    }
  }

  td {
    color: var(--yellow);

    padding: 1rem 2rem;

    line-height: 1.5rem;
    font-size: 1.3rem;

    background-color: var(--black);
    border-radius: 0.25rem;

    &:last-child {
      background-color: var(--yellow);
      color: var(--bg);
      font-weight: bold;
      text-align: center;
    }
  }
}
